.newTvProgram {
    background: #38c !important;
    color: #fff !important;
}

.liveTvProgram {
    background: #c33 !important;
    color: #fff !important;
}

.premiereTvProgram {
    background: #ef6c00 !important;
    color: #fff !important;
}

.repeatTvProgram {
    background: #009688 !important;
    color: #fff !important;
}
